<!DOCTYPE html>

<html lang="en">
<html class="no-js" lang="zxx">
<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Cloud_computing_project_LAST</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Cloud_computing_project_LAST.styles.css" asp-append-version="true" />
	<link href="~/assets/css/stylecafe.css" rel="stylesheet" />

    <!--========= Required meta tags =========-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Cafena - Coffee Shop HTML5 Template</title>

    <!--====== Favicon ======-->
    <link rel="shortcut icon" href="~/assets/images/logo/favicon.ico" type="images/x-icon" />

    <!--====== CSS Here ======-->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/lightcase.css">
    <link rel="stylesheet" href="~/assets/css/meanmenu.css">
    <link rel="stylesheet" href="~/assets/css/nice-select.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        aside {
            height: 100vh;
            width: 250px;
            background-color: #333;
            color: white;
            position: fixed;
            top: 0;
            right: -250px;
            transition: right 0.3s ease-in-out;
        }

            aside.open {
                right: 0;
            }

    </style>
</head>
<body>

    <div >
        <main role="main" class="pb-3">
            
                <!--[if lt IE 8]>
                    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
                <![endif]-->

                 <!-- preloader  -->
                 <div id="preloader">
        <div id="ctn-preloader" class="ctn-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
                <div class="txt-loading">
                    <span data-text-preloader="C" class="letters-loading">
                        C
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                    <span data-text-preloader="F" class="letters-loading">
                        F
                    </span>
                    <span data-text-preloader="E" class="letters-loading">
                        E
                    </span>
                    <span data-text-preloader="N" class="letters-loading">
                        N
                    </span>
                    <span data-text-preloader="A" class="letters-loading">
                        A
                    </span>
                </div>
            </div>
            <div class="loader">
                <div class="row">
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-left">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                    <div class="col-3 loader-section section-right">
                        <div class="bg"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <!-- preloader end -->

                <!-- header start -->
        <header class="site-header site-header__3 site-header__4" >
                <div class="menu-area menu-area__3 menu-area__4" style="background:black">
            <div class="container-fluid custom-width custom-width__2">
                <div class="row d-none d-xl-flex">
                    <div class="col-xl-5 col-lg-4 col-md-5 align-self-center">
                        <div class="main-menu main-menu__3">
                            <nav>
                                <ul>
                                            <li><a asp-controller="Home" asp-action="Index" style="color:#C7A17A">Home</a></li>
                                    <!--<li class="menu-item-has-children active"><a href="index.html">Home</a></li>-->
                                            <li><a asp-controller="Home" asp-action="About" style="color:#C7A17A">About</a></li>
                                    <!--<li><a href="about.html">About</a></li>-->
                                            <li><a asp-controller="Home" asp-action="Menu" style="color:#C7A17A">Menu</a></li>
                                    <!--<li><a href="menu.html">Menu</a></li>-->
                                            <li><a asp-controller="Home" asp-action="Reservation" style="color:#C7A17A">Reservation</a></li>
                                    <!--<li><a href="reservation.html">Reservation</a></li>-->
                                          @if (User.IsInRole("Manager"))
                                            {
                                                <li>
                                                    <a class="active" style="color:#C7A17A"> <i class="fas fa-user-shield"></i></a>
                                                    <ul class="sub-menu">
                                                        @* <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="product-details.html">Shop Details</a></li>
                                                    <li><a href="cart.html">Shop Cart</a></li>
                                                    <li><a href="checkout.html">Shop Checkout</a></li>*@
                                                        <li><a asp-controller="Orders" asp-action="Graph">Graph</a></li>
                                                        <li>
                                                             <a class="active">Info</a>
                                                            <ul class="sub-menu">
                                                                <li><a asp-controller="Orders" asp-action="Index">Orders</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 d-none d-lg-block text-center align-self-center">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/images/logo/logo.png" alt="img">
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-7 align-self-center">
                        <div class="menu-area__right menu-area__right--3 manu-area__right--4 d-flex justify-content-end align-items-center">
                            <div class="main-menu main-menu__3 manu-area__4">
                                <nav>
                                    <ul>
                                        <li>
                                            <a class="active" style="color:#C7A17A">pages</a>
                                            <ul class="sub-menu">
                                                <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                                                <!---<li><a href="blog.html">Blog</a></li>-->
                                                <li><a asp-controller="Home" asp-action="BlogDetails">Blog Details</a></li>
                                                <!---<li><a href="blog-details.html">Blog Details</a></li>-->
                                                <li><a asp-controller="Home" asp-action="Chefs">Chefs</a></li>
                                                <!---<li><a href="chefs.html">Chefs</a></li>-->
                                                <li><a asp-controller="Home" asp-action="Faq">Faq</a></li>
                                                <!---<li><a href="faq.html">Faq</a></li>-->
                                                <li><a asp-controller="Home" asp-action="Story">Story</a></li>
                                                <!---<li><a href="story.html">Story</a></li>-->
                                                <li><a asp-controller="Home" asp-action="Gallery">Gallery</a></li>
                                                <!---<li><a href="gallery.html">Gallery</a></li>-->
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="active" style="color:#C7A17A">Shop</a>
                                            <ul class="sub-menu">
                                                @* <li><a href="shop.html">Shop</a></li>
                                                <li><a href="product-details.html">Shop Details</a></li>
                                                <li><a href="cart.html">Shop Cart</a></li>
                                                <li><a href="checkout.html">Shop Checkout</a></li>*@
                                                <li><a asp-controller="Home" asp-action="Shop">Shop</a></li>
                                                <li><a asp-controller="Home" asp-action="ProductDetails">Shop Details</a></li>
                                                <li><a asp-controller="Home" asp-action="Cart">Shop Cart</a></li>
                                                <li><a asp-controller="Home" asp-action="Checkout">Shop Checkout</a></li>
                                            </ul>
                                        </li>
                                                <li><a asp-controller="Home" asp-action="Contact" style="color:#C7A17A">Contact</a></li>
                                        <!---<li><a href="contact.html">Contact</a></li>-->
                                    </ul>
                                </nav>
                            </div>
                            <div class="wrapper wrapper__2 pl-50 d-flex justify-content-end align-items-center">
                                <div class="search">
                                    <div class="search__trigger item">
                                        <span class="open"><i class="far fa-search"></i></span>
                                        <span class="close"><i class="fal fa-times"></i></span>
                                    </div>
                                    <div class="search__form">
                                                <form role="search" method="get" onsubmit="return redirectToSearchResults()">
                                                    <input type="search" id="searchInput" name="s" value="" placeholder="Search Page">
                                                    <input type="text" id="selectedPath" placeholder="Product">
                                                    <div id="error-message" class="text-danger"></div>
                                            <button type="submit"><i class="far fa-search"></i></button>
                                        </form>
                                                <script>
                                                    function redirectToSearchResults() {
                                                        var searchValue = document.getElementById('searchInput').value;
                                                        var selectedPath = document.getElementById('selectedPath');

                                                        if (!searchValue && (!selectedPath || !selectedPath.value)) {
                                                            return false;
                                                        }

                                                        if (selectedPath && selectedPath.value) {
                                                            window.location.href = '/Home/' + encodeURIComponent(searchValue) + '#' + encodeURIComponent(selectedPath.value) ;
                                                        } else {
                                                            window.location.href = '/Home/' + encodeURIComponent(searchValue);
                                                            
                                                           
                                                            var existingPaths = ['about', 'Shop#Rosted%20Coffee','reservation','menu', 'contact','gallery','blog','chefs','blogdetails','faq','story','shop']; 
                                                            if (!existingPaths.includes(searchValue.toLowerCase())) {
                                                                alert("The entered path does not exist. Please select a valid path before searching.");
                                                               // errorMessageElement.textContent = "The entered path does not exist. Please select a valid path before searching.";
                                                                return false; 
                                                            }
                                                        }

                                                        return false;
                                                    }
                                                </script>
                                    </div>
                                </div>
                                        <div class="login-trigger item" id="loginTrigger">
                                            <i class="far fa-user-alt" style="color:white"></i>
                                        </div>
                                        <aside id="loginAside" class="side-info-wrapper show-all">
                                            <div class="side-info__wrapper d-flex align-items-center justify-content-between" style="background-color:white">
                                                <div class="side-info__logo">
                                                    <a asp-controller="Home" asp-action="Index">
                                                        <img src="~/assets/images/logo/logo-black.png" alt="logo">
                                                    </a>
                                                </div>
                                                <div class="side-info__close">
                                                   <a href="javascript:void(0);" onclick="closeAside();"><i class="fal fa-times"></i></a>
                                                     <script>
                                                        function closeAside() {
                                                            const loginAside = document.getElementById('loginAside');
                                                            loginAside.classList.remove('open');
                                                        }
                                                      </script>
                                                    
                                                     </div>
                                               
                                            </div>
                                            <div class="side-info__conten" id="loginContent">
                                               @* @await Html.PartialAsync("/Areas/Identity/Pages/Account/Login.cshtml")*@
                                                <partial name="_LoginPartial" />
                                            </div>
                                        </aside>

                                        <script>
                                            document.addEventListener('DOMContentLoaded', function () {
                                                const loginTrigger = document.getElementById('loginTrigger');
                                                const loginAside = document.getElementById('loginAside');

                                                loginTrigger.addEventListener('click', function () {
                                                    loginAside.classList.toggle('open'); // Show the aside
                                                });

                                            });

                                        </script>


                                        <div class="hamburger-trigger item">
                                    <i class="far fa-bars"></i>
                                </div>
                                <div class="cart cart-trigger item position-relative">
                                    <i class="fa fa-shopping-basket"></i>
                                        <span class="cart__count">0</span>
                                        </div>        
                                </div>
                            </div>
                        </div>
                    </div>
                
                <div class="row d-lg-flex d-xl-none">
                    <div class="col-xl-9 col-lg-10 col-6">
                        <div class="wrapper-for-lg d-flex align-items-center">
                            <div class="logo d-lg-none">
                                <a asp-controller="Home" asp-action="Index">
                                    <!---<a href="index.html">-->
                                    <img src="~/assets/images/logo/logo.png" alt="img">
                                </a>
                            </div>
                            <div class="main-menu main-menu__3">
                                <nav id="mobile-menu">
                                    <ul>
                                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                        <!--<li class="menu-item-has-children active"><a href="index.html">Home</a></li>-->
                                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                                        <!--<li><a href="about.html">About</a></li>-->
                                        <li><a asp-controller="Home" asp-action="Menu">Menu</a></li>
                                        <!--<li><a href="menu.html">Menu</a></li>-->
                                        <li><a asp-controller="Home" asp-action="Reservation">Reservation</a></li>
                                        <!--<li><a href="reservation.html">Reservation</a></li>-->
                                        <li>
                                            <a class="=" active>pages</a>
                                            <ul class="sub-menu">
                                                <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                                                <!---<li><a href="blog.html">Blog</a></li>-->
                                                <li><a asp-controller="Home" asp-action="BlogDetails">Blog Details</a></li>
                                                <!---<li><a href="blog-details.html">Blog Details</a></li>-->
                                                <li><a asp-controller="Home" asp-action="Chefs">Chefs</a></li>
                                                <!---<li><a href="chefs.html">Chefs</a></li>-->
                                                <li><a asp-controller="Home" asp-action="Faq">Faq</a></li>
                                                <!---<li><a href="faq.html">Faq</a></li>-->
                                                <li><a asp-controller="Home" asp-action="Story">Story</a></li>
                                                <!---<li><a href="story.html">Story</a></li>-->
                                                <li><a asp-controller="Home" asp-action="Gallery">Gallery</a></li>
                                                <!---<li><a href="gallery.html">Gallery</a></li>-->
                                            </ul>
                                        </li>
                                        <li>
                                            <a class="active">Shop</a>
                                            <ul class="sub-menu">
                                                @* <li><a href="shop.html">Shop</a></li>
                                                <li><a href="product-details.html">Shop Details</a></li>
                                                <li><a href="cart.html">Shop Cart</a></li>
                                                <li><a href="checkout.html">Shop Checkout</a></li>*@
                                                <li><a asp-controller="Home" asp-action="Shop">Shop</a></li>
                                                <li><a asp-controller="Home" asp-action="ProductDetails">Shop Details</a></li>
                                                <li><a asp-controller="Home" asp-action="Cart">Shop Cart</a></li>
                                                <li><a asp-controller="Home" asp-action="Checkout">Shop Checkout</a></li>
                                            </ul>
                                        </li>
                                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                                        <!---<li><a href="contact.html">Contact</a></li>-->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-2 col-6 align-self-center">
                        <div class="menu-area__right manu-area__right--4 d-flex justify-content-end align-items-center">
                            <div class="search">
                                <div class="search__trigger item">
                                    <span class="open"><i class="far fa-search"></i></span>
                                    <span class="close"><i class="fal fa-times"></i></span>
                                </div>
                                <div class="search__form">
                                    <form role="search" method="get" action="Home/Index">
                                        <input type="search" name="s" value="" placeholder="Search Keywords">
                                        <button type="submit"><i class="far fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                                    <div class="hamburger-trigger item">
                                        <i class="far fa-lock" style="color:white"></i>
                                    </div>
                            <div class="hamburger-trigger item">
                                <i class="far fa-bars"></i>
                            </div>
                            <div class="cart cart-trigger item position-relative">
                                <i class="fa fa-shopping-basket"></i>
                                <span class="cart__count">0</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
                <!-- header end -->

                <!-- side info for mobile view -->
                <aside class="side-info-wrapper mm-only">
                    <nav>
                        <div class="nav" id="nav-tab" role="tablist">
                            <a class="nav-link active" id="menu-tab-1-tab" data-bs-toggle="tab"
                               href="#menu-tab-1" role="tab" aria-controls="menu-tab-1"
                               aria-selected="true">Menu</a>
                            <a class="nav-link" id="menu-tab-2-tab" data-bs-toggle="tab" href="#menu-tab-2"
                               role="tab" aria-controls="menu-tab-2" aria-selected="false">Info</a>
                        </div>
                    </nav>
                    <div class="side-info__wrapper d-flex align-items-center justify-content-between">
                        <div class="side-info__logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/images/logo/logo-black.png" alt="logo">
                            </a>
                        </div>
                        <div class="side-info__close">
                            <a href="javascript:void(0);"><i class="fal fa-times"></i></a>
                        </div>
                    </div>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="menu-tab-1" role="tabpanel"
                             aria-labelledby="menu-tab-1-tab">
                            <div class="mobile-menu"></div>
                        </div>
                        <div class="tab-pane fade" id="menu-tab-2" role="tabpanel"
                             aria-labelledby="menu-tab-2-tab">
                            <div class="side-info">
                                <div class="side-info__content mb-35">
                                    <h4 class="title mb-5">About us</h4>
                        <p style="font-size:12px">
                            Welcome to Cafena – Your Hometown Coffee Haven!
                            Cafena is more than just a coffee shop; it's a community, 
                            a creative hub, and your go-to place for exceptional coffee. 
                            Our journey began with a simple dream: 
                            to create a haven for coffee enthusiasts and provide a warm, 
                            inviting space for your coffee moments.
                            <a asp-controller="Home" asp-action="About" style="font-size:12px">for more..</a>
                        </p>
                         
                                <a class="site-btn mt-20" asp-controller="Home" asp-action="Contact">Contant us</a>
                                    <!--<a class="site-btn mt-20" href="contact.html">Contact us</a>-->
                                </div>
                                <div class="contact__info--wrapper mt-15">
                                    <h4 class="title mb-10">Contact us</h4>
                                    <ul class="contact__info list-unstyled">
                                        <li>
                                            <span><i class="fas fa-map-marker-alt"></i></span>
                                            <p>Central Part, New York City</p>
                                        </li>
                                        <li>
                                            <span><i class="fas fa-phone"></i></span>
                                            <p>+1255-568-6523</p>
                                        </li>
                                        <li>
                                            <span><i class="fas fa-envelope-open-text"></i></span>
                                            <p>information@gmail.com</p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social-links mt-20 d-flex justify-content-start align-items-center">
                                    <a href="#0"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#0"><i class="fab fa-twitter"></i></a>
                                <a href="https://instagram.com/_cafena_ny?igshid=MzRlODBiNWFlZA=="><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>

                <!-- side info for desktop view -->
                <aside class="side-info-wrapper show-all" id="nav-tab">
                    <div class="side-info__wrapper d-flex align-items-center justify-content-between">
                        <div class="side-info__logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/assets/images/logo/logo-black.png" alt="logo">
                            </a>
                        </div>
                        <div class="side-info__close">
                            <a href="javascript:void(0);"><i class="fal fa-times"></i></a>
                        </div>
                    </div>
                    <div class="side-info">
                        <div class="side-info__content mb-35">
                            <h4 class="title mb-5">About us</h4>
                <p style="font-size:12px">
                    Welcome to Cafena – Your Hometown Coffee Haven!
                    Cafena is more than just a coffee shop; it's a community,
                    a creative hub, and your go-to place for exceptional coffee.
                    Our journey began with a simple dream:
                    to create a haven for coffee enthusiasts and provide a warm,
                    inviting space for your coffee moments.
                    <a asp-controller="Home" asp-action="About" style="font-size:12px">for more..</a>
                </p>
                            <a class="site-btn mt-20" a asp-controller="Home" asp-action="Contact">Contact us</a>
                        </div>
                        <div class="contact__info--wrapper mt-15">
                            <h4 class="title mb-10">Contact us</h4>
                            <ul class="contact__info list-unstyled">
                                <li>
                                    <span><i class="fas fa-map-marker-alt"></i></span>
                                    <p>Central Park, New York City</p>
                                </li>
                                <li>
                                    <span><i class="fas fa-phone"></i></span>
                                    <p>+1255-568-6523</p>
                                </li>
                                <li>
                                    <span><i class="fas fa-envelope-open-text"></i></span>
                                    <p>information@gmail.com</p>
                                </li>
                            </ul>
                        </div>
                        <div class="social-links mt-20 d-flex justify-content-start align-items-center">
                            <a href="#0"><i class="fab fa-facebook-f"></i></a>
                            <a href="#0"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com/_cafena_ny?igshid=MzRlODBiNWFlZA=="><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </aside>

                <!-- cart list -->
                <aside class="cart-bar-wrapper">
                    <div class="cart-bar__close">
                        <a class="d-flex align-items-center justify-content-center" href="javascript:void(0);"><i class="fal fa-times"></i></a>
                    </div>
                    <div class="cart-bar">
                    <h4 class="cart-bar__title">Cart Items - <span id="cartItemCount"> </span></h4>
                    <script>
                        document.addEventListener('DOMContentLoaded', function () {
                           
                            updateCartItemCount();

                            function updateCartItemCount() {
                               
                                const cartItemCount = document.querySelectorAll('.cart-bar__item').length;

                               
                                const pluralSuffix = cartItemCount === 1 ? '' : 's';

                               
                                document.getElementById('cartItemCount').textContent = `${cartItemCount} item${pluralSuffix}`;
                            }
                        });
                    </script>
                        <div class="cart-bar__lists">
                            <div class="cart-bar__item position-relative d-flex">
                                <div class="thumb">
                                    <img src="assets/images/top-grade/tg-1.png" alt="image_not_found">
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        <a asp-controller="Home" asp-action="ProductDetails">Rorem ipsum dolor sit amet.</a>
                                    </h4>
                                    <span class="price">$19.00</span>
                                    <a href="#0" class="remove"><i class="fal fa-times"></i></a>
                                </div>
                            </div>
                            <div class="cart-bar__item position-relative d-flex">
                                <div class="thumb">
                                    <img src="assets/images/top-grade/tg-2.png" alt="image_not_found">
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                        <a asp-controller="Home" asp-action="ProductDetails">Rorem ipsum dolor sit amet.</a>
                                    </h4>
                                    <span class="price">$36.00</span>
                                    <a href="#0" class="remove"><i class="fal fa-times"></i></a>
                                </div>
                            </div>
                            <div class="cart-bar__item position-relative d-flex">
                                <div class="thumb">
                                    <img src="assets/images/top-grade/tg-3.png" alt="image_not_found">
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                    <a asp-controller="Home" asp-action="ProductDetails">Rorem ipsum dolor sit amet.</a>
                                    </h4>
                                    <span class="price">$20.00</span>
                                    <a href="#0" class="remove"><i class="fal fa-times"></i></a>
                                </div>
                            </div>
                            <div class="cart-bar__item position-relative d-flex">
                                <div class="thumb">
                                    <img src="assets/images/top-grade/tg-4.png" alt="image_not_found">
                                </div>
                                <div class="content">
                                    <h4 class="title">
                                    <a asp-controller="Home" asp-action="ProductDetails">Rorem ipsum dolor sit amet.</a>
                                    </h4>
                                    <span class="price">$20.00</span>
                                    <a href="#0" class="remove"><i class="fal fa-times"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="cart-bar__subtotal d-flex align-items-center justify-content-between">
                            <span>Sub Total:</span>
                            <span>$87.00</span>
                        </div>
                        <div class="btns d-flex align-items-center justify-content-center">
                            <a asp-controller="Home" asp-action="Cart" class="site-btn">View Cart</a>
                            <a asp-controller="Orders" asp-action="Create" class="site-btn site-btn__borderd">Checkout</a>
                        </div>
                    </div>
                </aside>
           
                @*<div class="overlay"></div>*@
                
                 @RenderBody()
                
            
        </main>
    </div>

    <footer class="site-footer site-footer__3 pt-115 position-relative bg_img" data-opacity="8" data-overlay="dark" data-background="~/assets/images/bg/footer-3-1.jpeg">
        <div class="footer__top footer__top--3 pt-155 position-relative" id="end">
            <a href="#" class="go-top position-absolute d-flex align-items-center justify-content-center">
                <i class="fal fa-long-arrow-up"></i>
                <span>go to top</span>
            </a>
            <div class="container">
                <div class="row justify-content-center mt-none-30">
                    <div class="col-xl-3 col-lg-6 mt-30">
                        <div class="footer__widget footer__info">
                            <div class="item d-flex align-items-center justify-content-center">
                                <img src="~/assets/images/icons/ft-phone.png" alt="">
                                <span>Phone :</span>
                                <a href="tel:88019339702520">+88019 339 702 520</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 mt-30 pl-55">
                        <div class="footer__widget footer__info">
                            <div class="item d-flex align-items-center justify-content-start">
                                <img src="~/assets/images/icons/ft-map-marker.png" alt="">
                                <span>Address:</span>
                                <a href="https://maps.app.goo.gl/3XmgpuT63MFC741Z6">Central Park, New York City</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-8 mt-30 pl-55">
                        <div class="footer__widget">
                            <div class="subscribe">
                                <form action="Home/Index"> <!--לבדוק את זה. זה היה לפיכן index.html-->
                                    <input type="email" name="email" id="email" placeholder="Enter your email">
                                    <button type="submit" class="subscribe__btn">Subscribe <i class="fa fa-paper-plane"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__middle mt-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="footer__logo--content">
                            <img class="mb-15" src="~/assets/images/logo/logo.png" alt="">
                            <p>
                                The coffee is brewed by first roasting the green coffee beans over hot
                                coals in a brazier. given an opportunity to sample.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-5 align-self-end">
                        <div class="social-links d-flex align-items-center justify-content-lg-end">
                            <a href="#0" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="#0" target="_blank"><i class="fab fa-facebook-f"></i></a>
                            <a href="#0" target="_blank"><i class="fab fa-youtube"></i></a>
                            <a href="https://instagram.com/_cafena_ny?igshid=MzRlODBiNWFlZA==" target="_blank"><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__menu-area mt-30 pb-90">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="footer__menu">
                            <nav>
                                <ul>
                                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                                    <!--<li class="menu-item-has-children active"><a href="index.html">Home</a></li>-->
                                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                                    <!--<li><a href="about.html">About</a></li>-->
                                    <li><a asp-controller="Home" asp-action="Menu">Menu</a></li>
                                    <!--<li><a href="menu.html">Menu</a></li>-->
                                    <li><a asp-controller="Home" asp-action="Reservation">Reservation</a></li>
                                    <!--<li><a href="reservation.html">Reservation</a></li>-->
                                    <li><a asp-controller="Home" asp-action="Shop">Shop</a></li>
                                    <!--<li><a href="shop.html">Shop</a></li>-->
                                    <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                                    <!---<li><a href="blog.html">Blog</a></li>-->
                                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-3 text-center text-lg-end">
                        <a href="#" class="go-top go-top__bottom">
                            <span>go top</span>
                            <i class="fal fa-long-arrow-up"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!--========= JS Here =========-->
    <script src="~/assets/js/jquery-2.2.4.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/jquery.meanmenu.min.js"></script>
    <script src="~/assets/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/js/lightcase.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/tilt.jquery.min.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/jquery.easing.min.js"></script>
    <script src="~/assets/js/scrollwatch.js"></script>
    <script src="~/assets/js/sticky-header.js"></script>
    <script src="~/assets/js/waypoint.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDfpGBFn5yRPvJrvAKoGIdj1O1aO9QisgQ"></script>
    <script src="~/assets/js/jquery-ui-slider-range.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>
