@model Cloud_computing_project_LAST.Models.Cafe

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        body {
            margin: col-xl-12 text-center ;
            background-color: black;
            color: white
        }
    </style>
</head>


<!-- breadcrumb area start -->
<section class="breadcrumb-area pt-140 pb-140 bg_img" data-overlay="dark" data-opacity="4" data-background="assets/images/bg/breadcrumb-bg-1.jpeg">
    <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
    <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <h2 class="page-title">Cafena</h2>
                <div class="cafena-breadcrumb breadcrumbs">
                    <ul class="list-unstyled d-flex align-items-center justify-content-center">
                        <li class="cafenabcrumb-item duxinbcrumb-end">
                            <span>Add new product</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->
@*<div class="row">
    <div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
            </div>
                <div class="form-group text-right">
                    <a asp-action="" type="submit" class="site-btn mt-30" style="padding-top:10px">Add new product</a>
               @* <input type="submit" value="Create" class="btn btn-primary" />*@
@*            </div>
        </form>
    </div>
    </div>
</div>*@
<section class="reservation__area reservation__area--2 position-relative pt-120 pb-120">
    <span class="shape shape__1 position-absolute"><img src="~/assets/images/shape/hero-shape-2-1.png" alt=""></span>
    <span class="shape shape__2 position-absolute"><img src="~/assets/images/shape/hero-shape-2-2.png" alt=""></span>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="reservation__wrapper reservation__wrapper--2">
                    <div class="section-heading section-heading__black text-center mb-35">   
                    </div>
                    <div class="reservation__form reservation__form--2 mt-none-30 text-center">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6">
                                    <div class="from-group mt-30">
                                        <label asp-for="Name" class="control-label" style="color:black"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="from-group mt-30">
                                        <label asp-for="Description" class="control-label" style="color:black"></label>
                                        <input asp-for="Description" class="form-control" />
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="from-group mt-30">
                                        <label asp-for="ImageUrl" class="control-label" style="color:black"></label>
                                        <input asp-for="ImageUrl" class="form-control" />
                                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6">
                                    <div class="from-group mt-30">
                                        <label asp-for="Price" class="control-label" style="color:black"></label>
                                        <input asp-for="Price" class="form-control" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </div>  
                            </div>
                        </form>
                        <div class="form-group text-right">
                            <a asp-action="" type="submit" class="site-btn mt-30" style="padding-top:10px">Add new product</a>
                            @* <input type="submit" value="Create" class="btn btn-primary" />*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="col-xl-12 mt-3 text-center" style="margin-bottom:1px">
    <a asp-action="Index" type="submit" class="site-btn mt-30" style="padding-top:10px">Bact to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
