
@{
    ViewData["Title"] = "Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class=" dark-bg">
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="~/assets/images/bg/breadcrumb-bg-1.jpeg" data-overlay="dark" data-opacity="5">
        <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
        <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 text-center">
                    <h2 class="page-title">Cafena Story</h2>
                    <div class="cafena-breadcrumb breadcrumbs">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center">
                            <li class="cafenabcrumb-item duxinbcrumb-end">
                                <span>Story</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
<!-- about area start -->
<section class="about__area about__area--2 position-relative pt-120 pb-105">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="wwa-wrapper">
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="about__right about__right--2 about__right--5 pl-45 pt-45">
                                <div class="section-heading section-heading__black">
                                    <span class="sub-title">who we are</span>
                                    <h2 class="title mb-25">
                                        More than 27 years of
                                        experience
                                    </h2>
                                        <p>With over 27 years of dedication, our coffee shop is more than just a place for great coffee. We've perfected the art of brewing and creating a warm, welcoming space that's been at the heart of our community for decades. Join us in celebrating our rich history and the countless memories we've shared over the years. Thank you for being a part of our journey.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wwa-wrapper__img">
                        <img src="~/assets/images/bg/wwa1.jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about area end -->
<!-- wcu section start -->
<section class="wcu__area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <div class="section-heading section-heading__black mb-60">
                    <span class="sub-title">who we are</span>
                    <h2 class="title">Make A new Story with us</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="story-list">
                    <span class="plus"><i class="fal fa-plus"></i></span>
                    <div class="story-list__box">
                        <span class="count">01</span>
                        <div class="story-list__box--inner">
                            <div class="thumb">
                                <img src="~/assets/images/story/story1.jpeg" alt="">
                                <span class="year">1995</span>
                            </div>
                            <div class="content">
                                <h2 class="title">Future Goal With Coffee</h2>
                                    <p>In 1995, our coffee journey began. Our vision was simple: to create a space where coffee would connect people. Today, as we celebrate over 27 years, we invite you to join us on this remarkable journey, where every cup tells a story of our shared commitment to coffee and community.</p>
                            </div>
                        </div>
                    </div>
                    <div class="story-list__box">
                        <span class="count">02</span>
                        <div class="story-list__box--inner">
                            <div class="thumb">
                                <img src="~/assets/images/story/story2.jpeg" alt="">
                                <span class="year">2005</span>
                            </div>
                            <div class="content">
                                    <h2 class="title">The Beginning of Glory</h2>
                                    <p>In 2005, our coffee shop began to shine. We expanded our offerings, enhanced our ambiance, and earned the love of our community. This was the start of our glorious journey to becoming your favorite coffee destination. Join us in celebrating this pivotal year in our story.</p>
                            </div>
                        </div>
                    </div>
                    <div class="story-list__box">
                        <span class="count">03</span>
                        <div class="story-list__box--inner">
                            <div class="thumb">
                                <img src="~/assets/images/story/story3.jpeg" alt="">
                                <span class="year">2015</span>
                            </div>
                            <div class="content">
                                    <h2 class="title">What else beyond coffee?</h2>
                                    <p>In 2015, we expanded beyond coffee to offer a diverse menu of treats and delights. Our goal was to provide more than just a great cup of coffee. This was also the year when we ventured into the digital realm, launching our new website to connect with our community even better.</p>
                            </div>
                        </div>
                    </div>
                    <div class="story-list__box">
                        <span class="count">04</span>
                        <div class="story-list__box--inner">
                            <div class="thumb">
                                <img src="~/assets/images/story/story4.jpeg" alt="">
                                <span class="year">2023</span>
                            </div>
                            <div class="content">
                                    <h2 class="title">Thanks to all of you!</h2>
                                    <p>In 2023, it's all about gratitude. We owe our success to you, our incredible community. Your loyalty, smiles, and stories have made our journey special. Join us in celebrating your support as we look forward to more years of coffee and community</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- wcu section end -->
</body>