@model Cloud_computing_project_LAST.Models.Order

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



   <body class="dark-bg">
<main>
    
        <!-- cart area start -->
    <div class="row">   
        <div class="checkout-area pt-120 pb-120">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="cart-wrapper checkout-wrapper" style="background:white">
                            <div class="row">
                                <div class="col-xl-9">
                                    <div class="checkout-top">
                                        <h4 class="title">Payment Mathod</h4>
                                        <nav>
                                            <div class="nav" id="shop-filter-tab" role="tablist">
                                                <a class="nav-link" id="pd-1-tab" data-bs-toggle="tab" href="#pd-1" role="tab" aria-controls="pd-1" aria-selected="true">
                                                    Paypal
                                                </a>
                                                <a class="nav-link" id="pd-1-tab" data-bs-toggle="tab" href="#pd-1" role="tab" aria-controls="pd-1" aria-selected="true">
                                                    Cash on Delivery
                                                </a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="pdContent">
                                            <div class="tab-pane fade show active" id="pd-1" role="tabpanel" aria-labelledby="pd-1-tab">
                                                <div class="cart-form">
                                                     <form asp-action="Create">
                                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                        <div class="row">
                                                            <div class="col-xl-6">
                                                                <div class="from-group">
                                                                    <label asp-for="Name" class="control-label"></label>
                                                                    <input asp-for="Name" class="form-control" type="text" name="fname" id="fname" placeholder="First Name">
                                                                    <span asp-validation-for="Name" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <div class="from-group">
                                                                    <label asp-for="LastName" class="control-label"></label>
                                                                    <input asp-for="LastName" class="form-control" type="text" name="lname" id="lname" placeholder="Last Name">
                                                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12">
                                                                <div class="from-group mt-30">
                                                                    <label asp-for="City" class="control-label"></label>
                                                                    <input asp-for="City" class="form-control" type="text" name="tname3" id="tname3">
                                                                    <span asp-validation-for="City" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12">
                                                                <div class="from-group mt-30">
                                                                    <label asp-for="Address" class="control-label"></label>
                                                                    <input asp-for="Address" class="form-control" type="text" name="rname3" id="rname3" placeholder="Company Name">
                                                                    <span asp-validation-for="Address" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12">
                                                                <div class="from-group mt-30">
                                                                    <label asp-for="streetNum" class="control-label"></label>
                                                                    <input asp-for="streetNum" class="form-control" type="text" name="hname3" id="hname3" placeholder="House number & State">
                                                                    <span asp-validation-for="streetNum" class="text-danger"></span>
                                                                </div>
                                                            </div>

                                                            <div class="col-xl-12">
                                                                <div class="from-group mt-30">
                                                                    <label asp-for="ZIPCode" class="control-label"></label>
                                                                    <input asp-for="ZIPCode" class="form-control" type="text" name="zname3" id="zname3">
                                                                    <span asp-validation-for="ZIPCode" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <div class="from-group mt-30">
                                                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                                                    <input asp-for="PhoneNumber" class="form-control" type="tel" name="tel3" id="tel3" placeholder="Enter your number..">
                                                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-6">
                                                                <div class="from-group mt-30">
                                                                    <label asp-for="Email" class="control-label"></label>
                                                                    <input asp-for="Email" class="form-control" type="email" name="email3" id="email3" placeholder="Enter your mail..">
                                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-12">
                                                                <div class="from-group mt-30">
                                                                    <label asp-for="Info" class="control-label"></label>
                                                                    <input asp-for="Info" class="form-control" name="ainfo3" id="ainfo3" placeholder="Note about your order, Special note for delevery !" />
                                                                    <span asp-validation-for="Info" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                       @*  <div class="form-group">
                                                        <input type="submit" value="Create" class="btn btn-primary" />
                                                    </div>*@
                                                            <div class="form-group">
                                                                <input type="submit" value="Create" class="btn btn-primary" />
                                                            </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>       
                                    <div class="row">
                                        <div class="col-xl-8">
                                            <div class="cart-total mt-45 text-end">
                                                <h2 class="title text-start">Cart Total</h2>
                                                <div class="ct-sub">
                                                    <span>Sub Total</span>
                                                    <span>$ 180</span>
                                                </div>
                                                <div class="ct-sub ct-sub__total">
                                                    <span>Total</span>
                                                    <span>$ 180</span>
                                                </div>

                                                        
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- cart area end -->
     
     </div>
     
    </main>
</body>
@*
<body class="dark-bg">
    <main>
<!-- breadcrumb area start -->
<section class="breadcrumb-area pt-140 pb-140 bg_img" data-background="/assets/images/bg/breadcrumb-bg1.jpeg" data-overlay="dark" data-opacity="5">
    <div class="shape shape__1"><img src="~/assets/images/shape/breadcrumb-shape-1.png" alt=""></div>
    <div class="shape shape__2"><img src="~/assets/images/shape/breadcrumb-shape-2.png" alt=""></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                <h2 class="page-title">Cafena Checkout</h2>
                <div class="cafena-breadcrumb breadcrumbs">
                    <ul class="list-unstyled d-flex align-items-center justify-content-center">
                        <li class="cafenabcrumb-item duxinbcrumb-end">
                            <span>order</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb area end -->
    <div class="checkout-area pt-120 pb-120">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="cart-wrapper checkout-wrapper" style="background:white">
                        <div class="row">
                            <div class="col-xl-9">
                                <div class="checkout-top">
                                    <h4 class="title">Payment Mathod</h4>
                                        <nav>
                                            <div class="nav" id="shop-filter-tab" role="tablist">
                                                <a class="nav-link" id="pd-1-tab" data-bs-toggle="tab" href="#pd-1" role="tab" aria-controls="pd-1" aria-selected="true">
                                                    Paypal
                                                </a>
                                                <a class="nav-link" id="pd-1-tab" data-bs-toggle="tab" href="#pd-1" role="tab" aria-controls="pd-1" aria-selected="true">
                                                    Cash on Delivery
                                                </a>
                                            </div>
                                        </nav>
                                        <div class="tab-content" id="pdContent">
                                            <div class="tab-pane fade show active" id="pd-1" role="tabpanel" aria-labelledby="pd-1-tab">
                                                <div class="cart-form">
                                                @*<div class="col-md-4">
                                               @* <form asp-action="Create">
                                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                                    <div class="=row">*@
                                                   @* <div class="form-group">
                                                        <label asp-for="OrderDate" class="control-label"></label>
                                                        <input id="currentDateTime" class="form-control" asp-for="OrderDate"></>
                                                        <span asp-validation-for="OrderDate" class="text-danger"></span>
                                                    </div>
                                                    <div class="form-group">
                                                        <label asp-for="DeliveryDate" class="control-label"></label>
                                                        <input asp-for="DeliveryDate" class="form-control" />
                                                        <span asp-validation-for="DeliveryDate" class="text-danger"></span>
                                                    </div>
                                                    <script>
                                                        // פונקציה שמתחילה בזמן שהדף נטען
                                                        window.onload = function () {
                                                            // השג את אלמנט ה-<p> שיציג את התאריך והשעה
                                                            var dateTimeElement = document.getElementById("currentDateTime");

                                                            // השג את התאריך והשעה הנוכחיים
                                                            var currentDateTime = new Date();

                                                            // הצג את התאריך והשעה בתוך אלמנט ה-<p>
                                                            dateTimeElement.innerHTML = currentDateTime.toLocaleString();
                                                        };
                                                    </script>*@
                                                   @* <div class="form-group">
                                                        <label asp-for="TotalPrice" class="control-label"></label>
                                                        <input asp-for="TotalPrice" class="form-control" />
                                                        <span asp-validation-for="TotalPrice" class="text-danger"></span>
                                                    </div>*@
                                                  @*  <div class="col-xl-6">
                                                        <div class="form-group mt-30">
                                                            <label asp-for="Name" class="control-label"></label>
                                                            <input asp-for="Name" class="form-control" id="fname" placeholder="First Name" />
                                                            <span asp-validation-for="Name" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                   
                                                    <div class="col-xl-6">
                                                        <div class="form-group">
                                                            <label asp-for="LastName" class="control-label"></label>
                                                            <input asp-for="LastName" class="form-control" id="lname" placeholder="Last Name" />
                                                            <span asp-validation-for="LastName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <div class="form-group">
                                                            <label asp-for="City" class="control-label"></label>
                                                            <input asp-for="City" class="form-control" id="tname3" />
                                                            <span asp-validation-for="City" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <div class="form-group">
                                                            <label asp-for="Address" class="control-label"></label>
                                                            <input asp-for="Address" class="form-control" id="rname3" placeholder="Street Name" />
                                                            <span asp-validation-for="Address" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <div class="form-group">
                                                            <label asp-for="streetNum" class="control-label"></label>
                                                            <input asp-for="streetNum" class="form-control" id="hname3" placeholder="House number" />
                                                            <span asp-validation-for="streetNum" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <div class="form-group">
                                                            <label asp-for="ZIPCode" class="control-label"></label>
                                                            <input asp-for="ZIPCode" class="form-control" id="zname3" />
                                                            <span asp-validation-for="ZIPCode" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="form-group">
                                                            <label asp-for="PhoneNumber" class="control-label"></label>
                                                            <input asp-for="PhoneNumber" class="form-control" id="tel3" placeholder="Enter your number.." />
                                                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="form-group">
                                                            <label asp-for="Email" class="control-label"></label>
                                                            <input asp-for="Email" class="form-control" id="email3" placeholder="Enter your mail.." />
                                                            <span asp-validation-for="Email" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <div class="form-group">
                                                            <label asp-for="Info" class="control-label"></label>
                                                            <input asp-for="Info" class="form-control" id="ainfo3" placeholder="Note about your order, Special note for delevery !" />
                                                            <span asp-validation-for="Info" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="submit" value="Create" class="btn btn-primary" />
                                                    </div>
                                                    </div>
                                                </form>
                                                </div>
                                             </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div>
    <a asp-action="Index">Back to List</a>
</div>
    </main>
</body>*@